body {
  margin: 0;
}
div {
  background: radial-gradient(rgb(70, 130, 180), rgb(0, 0, 0));
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  font-family: "Courier New", Courier, monospace;
  font-size: 200px;
  color: rgba(70, 130, 180, 0.6);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3), 2px 2px 0 rgba(0, 0, 0, 0.3),
    0 0 20px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.6);
}
